.room-header
    .header-text
        p#room-header-name Room1
    .header-text
        p#room-id.hidden -1
    .user-in-header
        p#currentUserName master
        img(src="images/user.png", height="50")
