.flex-container.form-container
    .form-header Create New Room
    form.form-inner#room-creation-form
        label.input-label(for="owner-name") Owner name
        input.form-input#owner-name(name="user")
        label.input-label(for="room-name") Room name
        input.form-input#room-name
        label.input-label(for="available-decks") Deck
        select.form-input#available-decks
        input.invite-button(type="submit" value="Go")
