doctype html
html(lang="en")
    head
        title= "ScrumPoker"
        link(rel="stylesheet" href="css/app.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap")
    body
        #creation-room.hidden
            include create-room
        #sign-in.hidden
            include sign
        #room.hidden
            include room/header
            .flex-container
                span.story-header#story-header Story: "Выбрать карту"
                br
            .flex-container
                include room/cards
                include room/users
                include room/stories
                .users-container
        script(src="js/main.min.js")
