.flex-container.form-container
    .form-header Sign In
    form.form-inner#sign-form
        label.input-label(for="user-name") Name
        input.form-input#user-name(name="user")
        input.invite-button(type="submit" value="Go")
