- var users = ['master', 'user', 'ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd']
- var buttons = ['Reset timer', 'Finish']


.users-container
    .members
        .users-header Waiting for user to vote
        .users-remained Remains:
            .timer
                img(src="images/timer.png" height="25")
                b 04:24:24
        .users-list
            for i in users
                .user-in-room
                    .user-name
                        p=i
                    .user-avatar
                        img(src="images/user.png", height=25)
                    if i == 'master'
                        img(src="images/verified.png", height=20)
        .users-buttons
            for j in buttons
                .discussion-management-button=j
    .invite-box
        h3.text-format Invite new member
        p.text-format Copy room url to clipboard and sent it to new member
        .invite-button Copy url
